.skill-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* width: 200px; */
  max-width: 200px;
  text-align: center;
  gap: 5px;
}

.skill-button button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  /* border: 2px solid; */
  box-sizing: border-box;
}

.skill-button__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.skill-button__cost {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

