/* Dark mode styles */
body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
}

/* You can add more specific styles for other elements */
header, footer {
    background-color: #1e1e1e;
    color: #ffffff;
}

button {
    background-color: #333333;
    color: #ffffff;
}

/* Sticky header styles */
.app__header {
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px;
    z-index: 1000; /* high z-index to ensure it stays on top */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333333;
    margin-bottom: 20px; /* Margin to avoid covering the Skill Tree */
}

.app__reset-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.app__reset-button:hover {
    background-color: #555555;
}

.app__budget-manager, .app__character-viewer {
    flex-grow: 1;
    text-align: right;
}

.app__budget-manager {
    padding-right: 1rem;
}
.app__skill-tree-container {
    margin: 0 auto;
}

/* Ensure other content has space from the sticky header */
.app__skill-tree {
    margin: 0 auto;
    /* max-width: 1240px; */
    text-align: center;
}

/* Add other elements and adjust colors as needed */